
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fafc;
    color: #333;
}

header {
    background-color: #00b4cc;
    color: #fff;
    padding: 16px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.username {
    font-size: 18px;  
    position: relative;
    top: -10px;  
}


.settings-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.settings-button .settings-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


main .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-panel {
    flex: 2;
    margin-right: 20px;
}

.live-feed h2 {
    color: #ccad00;
    margin-bottom: 10px;
}

.feed video {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.feed-status {
    background-color: #514caf;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.right-panel {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.right-panel h2 {
    color: #ff5722;
}

.alert-card {
    background-color: #ffccbc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border-left: 4px solid #ff5722;
}

.alert-card h3 {
    margin-bottom: 5px;
}

.alert-card button {
    background-color: #0052cc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #cc3a00;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
